@charset "utf-8";

:root {
    --cor-primaria: #201b2c;
    --cor-secundaria: #00ff88;
    --text-color-1: #2b134b;
    --text-color-2: #00ff88;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}


html, body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

#tela {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

#image {
    background: url(../image/astronauta.svg) no-repeat;
    background-position: center;
    background-size: contain;
    width: 50rem;
    height: 50rem;
    min-width: 40px;
    min-height: 400px;
    display: flex;
    margin-left: 18.75rem;
    
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#login h1 {
    font-size: 4.5rem;
}

#login p {
    font-size: 1.5rem;
}

#login form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;

}

#login form div input {
    padding: 10px;
    min-width: 20rem;
    width: 23vw;
    height: 5vh;
    border-radius: 24px;
}

.material-symbols-outlined {
    width: 20px;
    height: 21px;
    margin: 15px 10px;
}

#buton {
    display: block;
    margin: auto;
    width: 23rem;
    min-width: 20rem;
    height: 3rem;
    font-weight: 800;
    outline: none;
    border-radius: 15px;
    border: none;
    background: var(--cor-secundaria);
    color: var(--text-color-1);
    box-shadow: 0px 10px 40px -12 var(--text-color-2);
    letter-spacing: 3px;
    cursor: pointer;
}

#buton:hover {
    transform: translate(-1px, -1px);
    transition: 0.8s;
}

a {
    display: flex;
    text-align: center;
    padding: 2px;
    width: 160px;
    height: 27px;
    margin: 10px auto;

    text-decoration: none;
    color: var(--text-color-1);
    background-color: var(--text-color-2);
    border-radius: 15px;
    text-align: center;
}

a:hover {
    transform: translate(-1px, -1px);
    transition: 0.8s;
}